extends /layout/_application

block content
  div.info-container
    div.info
      div.wrapper
        table
          tbody.new-info
            tr
              td.date-header
                p 日付
              td.contents-header
                p お知らせ
  div.skill-container
    h2.main-title SKILL
    div.skill
      div.skill-img
      div.skill-img
      div.skill-img
      div.skill-img
      div.skill-img
      div.skill-img
      div.skill-img
      div.skill-img
      div.skill-img
      div.skill-img
  div.main-container
    section.num1
      div.num1-wrapper
        div.num1-container
          h2.main-title MY SITE
          div.picture
          div.profile-container
            p NAME: HAGARI HAYATO
            p AGE: 24
            p JOB: u-student
            p HOBBY: SKATE
          div.detail
            a(href="https://hagalog.herokuapp.com/") MY BLOG
    section.num2
      h2.main-title WORKS
      //- div.works-pict
      div.num2-wrapper
        div.num2-container
    section.num3
      h2.main-title CONTACT
      div.num3-container
        div.message
          div.message-container
        section.modal-container
          div.modal
            div.modal-item-container
              div.x-mark
              div.modal-item
                label.name NAME :
                input.name-input
              div.modal-item
                textarea.text-input
              h4.submit GO
  nav.nav-bar.header
    div.container.hundle
      div.toTop.link
        i.fab.fa-fort-awesome-alt
        p.fa-title TOP
      div.toAbout.link
        i.fas.fa-code
        p.fa-title WORKS
      div.toContact.link
        i.fas.fa-envelope-open-text
        p.fa-title CONTACT
      div.trigger.link
        i.fas.fa-bell
        p.fa-title INFO
      div.skill-btn.link
        i.fas.fa-book-reader
        p.fa-title SKILL
      div.github.link
        p.linkToGit
          a(href="https://github.com/HAGARIHAYATO")
            i.fab.fa-github-square
          p.fa-title GITHUB
  footer.footer
    p.footer-text &copy;hayato.inc
