extends /layout/_application

block content
  header.header
    nav.nav-bar
      div.container
        div.logo
        div.github
          p.linkToGit
            a(href="https://github.com/HAGARIHAYATO")
             i.fab.fa-github-square github
      div.container.hundle
        div.link.toTop
          p.link-text TOP
        div.link.toAbout
          p.link-text PORTFOLIO
        div.link.toContact
          p.link-text CONTACT
  div.main-container
    section.num1
      div.trigger
      div.num1-wrapper
        div.num1-container
          h2.main-title THANKS FOR YOUR COMING
          div.picture
          div.profile-container
            p NAME: HAGARI HAYATO
            p AGE: 24
            p JOB: u-student
            p HOBBY: SKATE
          div.detail
            a(href="#") MY BLOG
        div.info-container
          div.info
            div.wrapper
              table
                tbody.new-info
                  tr
                    td.date-header
                      p 日付
                    td.contents-header
                      p お知らせ
    section.num2
      h2.main-title PORTFOLIO
      div.num2-container
    section.num3
      div.num3-container
        section.modal-container
          h2.main-title CONTACT
          div.modal
            div.modal-item-container
              div.x-mark
              div.modal-item
                label.name NAME :
                input.name-input
              div.modal-item
                textarea.text-input
              h4.submit GO
        div.message-container
          div.wrapper
  div.modal-overlay
  footer.footer
    p.footer-text &copy;hayato.inc
