$color1: rgba(0,0,0,0.9);
$color2: #a0a0a0;
$color3: lighten(#a0a0a0, 10%);
$color4: #551A8B;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  width: 100%;
  min-height: 100%;
}

.header{
  display: block;
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.nav-bar{
  background-color: $color3;
  border-radius: 30px;
  margin: 0 auto;
}

.link-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.container{
  padding: 20px 0 30px 0;
  margin-top: auto;
  margin-bottom: auto;
}

.main-container{
  width: 100%;
  min-height: 650px;
  position: relative;
}

.link{
  opacity: 0.7;
}

.fas,
.fab{
  line-height: 50px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  color: black;
  transition: all 0.7s;
  &:hover{
    color: $color4;
  }
}

.fa-title{
  font-size: 8px;
  text-align: center;
  width: 50px;
}


.main-title{
  // color: $color4;
  font-size: 30px;
  font-family: Baskerville;
  margin: 30px auto;
  width: 80%;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
// topページ
.num1{
  display: block;
  padding: 60px 0;
}
// aboutページ
.num2{
  display: none;
  padding: 60px 0;
}
// contactページ
.num3{
  display: none;
  position: relative;
  padding: 60px 0;
}
// ここからtopページcss

.num1-wrapper{
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.num1-container{
  width: 100%;
  transition: all 0.6s;
}

.picture{
  width: 70%;
  height: 500px;
  background-image: url("./images/hobby1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 60px auto;
}


.info{
  width: 100%;
  overflow-y: scroll;
}

.info-container{
  padding: 20px 0;
  max-height: 80%;
  width: 60%;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 70px;
  transform: translateY(-50%);
  // border-radius: 10px;
  box-shadow: 5px 5px 5px lighten($color1,15%);
  display: none;
  background-color: lighten($color1,15%);
  opacity: 0.97;
}

table{
  width: 100%;
  height: 40px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.date-header{
  width: 30%;
  height: 20px;
  text-align: center;
}

.contents-header{
  width: 70%;
  height: 20px;
  text-align: center;
}

.date{
  width: 30%;
  height: 40px;
  background-color: white;
  color: $color1;
}

.contents{
  width: 70%;
  height: 40px;
  background-color: white;
  color: $color1;
}

.profile{
  padding: 0 10%;
  display: flex;
  justify-content: space-around;
}

.profile-container{
  margin: 0 auto;
  & > p{
    margin: 10px;
    font-family: Baskerville;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }
}

.skill-container{
  z-index: 1;
  padding: 20px 0;
  max-height: 60%;
  width: 60%;
  position: fixed;
  top: 50%;
  left: 70px;
  transform: translateY(-50%);
  box-shadow: 5px 5px 5px lighten($color1,15%);
  display: none;
  background-color: lighten($color1,15%);
  opacity: 0.97;
  & > .main-title{
    margin: 10px auto;
    color: white;
    font-size: 20px;
  }
}

.skill{
  width: 60%;
  margin: 60px auto 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skill-img{
  margin: 10px;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  &:nth-child(1){
    background-image: url("./images/html-5.svg");
  }
  &:nth-child(2){
    background-image: url("./images/css-3.svg");
  }
  &:nth-child(3){
    background-image: url("./images/es6.svg");
  }
  &:nth-child(4){
    background-image: url("./images/ruby.svg");
  }
  &:nth-child(5){
    background-image: url("./images/react.svg");
  }
  &:nth-child(6){
    background-image: url("./images/rails.svg");
  }
  &:nth-child(7){
    background-image: url("./images/pug.svg");
  }
  &:nth-child(8){
    background-image: url("./images/sass.svg");
  }
  &:nth-child(9){
    background-image: url("./images/slack.svg");
  }
  &:nth-child(10){
    background-image: url("./images/github-octocat.svg");
  }
}

.detail{
  width: 100px;
  height: 24px;
  margin: 60px auto 60px auto;
  text-align: center;
  background-color: $color2;
  border-radius: 10px;
  & > a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    &:active{
      color: $color4;
    }
  }
}

// ここからaboutページcss

.num2-container{
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.num2-item{
  background-color: lighten($color3,10%);
  width: 30%;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  margin-bottom: 30px;
}

.num2-link{
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  word-wrap: break-word;
}

.num2-text{
  width: 70%;
  padding: 0 5px;
}

.num2-item-name{
  width: 30%;
  height: 100px;
  line-height: 100px;
}

.num2-item-content{
  font-size: 14px;
  text-align: left;
  word-wrap: break-word;
  margin: 10px auto;
}


// ここからcontactページ

.num3-container{
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.message-container{
  width: 60%;
  height: 600px;
  margin: 20px auto;
  // background-color: lighten($color3,25%);
  overflow: scroll;
}

.wrapper{
  height: auto;
  // padding-top: 30px;
}

.modal{
  width: 60%;
  height: 320px;
  margin: 0 auto;
  align-content: center;
  // border: 1px solid $color3;
}

.modal-item{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.modal-item-container{
  padding-top: 60px;
}

label{
  font-weight: bold;
  font-size: 24px;
}

.modal-container{
  width: 40%;
  height: 40%;
}

.text-input{
  margin-top: 20px;
  width: 80%;
  height: 100px;
  border: 1px solid $color2;
  border-radius: 5px;
  transition: all 1s;
  font-size: 25px;
  &:hover{
    background-color: $color2;
    opacity: 0.4;
    transition: all 0.5s;
  }
}



.name-input{
  width: 55%;
  height: 30px;
  border: 1px solid $color2;
  border-radius: 5px;
  background-color: white;
  transition: all 1s;
  font-size: 25px;
  &:hover{
    background-color: $color2;
    opacity: 0.4;
    transition: all 0.5s;
  }
}

.submit{
  width: 60%;
  height: 30px;
  border-radius: 5px;
  color: white;
  margin: 20px auto;
  text-align: center;
  line-height: 30px;
  box-shadow: 0 3px black;
  transition: all 0.1s;
  font-size: 18px;
  background-color: $color4;
  &:active{
    box-shadow: 0 0 black;
    margin-top: 25px;
    font-size: 10px;
  }
  &:hover{
    background-color: darken($color4,10%);
  }
}

.comment{
  width: 50%;
  margin-bottom: 30px;
  margin-left: 45%;
  background-color: lighten($color3, 20%);
  box-shadow: 1px 2px $color2;
  color: black;
}

.master-comment{
  color: white;
  width: 50%;
  margin-left: 5%;
  margin-bottom: 30px;
  background-color: lighten($color1,20%);
  box-shadow: 1px 2px $color2;
}

.output-name{
  width: 30%;
  height: 20px;
}

.output-text{
  width: 80%;
  margin: 0 auto 10px auto;
}

.ot{
  font-size: 16px;
  line-height: 30px;
  word-wrap: break-word;
}

.on{
  font-size: 12px;
  font-weight: bold;
  color: $color2;
  line-height: 16px;
  text-align: center;
}

.footer{
  width: 100%;
  height: 70px;
  // background-color: $color3;
}

.footer-hundle{
  display: flex;
  justify-content: space-around;
}

.footer-text{
  text-align: center;
  line-height: 60px;
  color: $color4;
  font-weight: bold;
}

@media screen and (max-width:960px) {

  main{
    overflow: visible;
  }

  .num1-wrapper{
    display: block;
  }

  .num1-container,
  .num2-container,
  .message-container{
    margin: 0 auto 0 auto;
    width: 90%;
  }

  .container{
    width: 50%;
  }

  .link{
    width: 30%;
  }

  .num2-item{
    width: 80%;
  }

  .num3-container{
    display: block;
    margin: 30px auto;
  }

  .modal{
    width: 100%;
    margin-bottom: 30px;
  }

  .modal-container{
    margin: 0 auto;
  }
}

@media screen and (max-width:560px) {

  main{
    overflow: visible;
  }

  .num1-wrapper{
    display: block;
  }

  .info-container,
  .skill-container{
    width: 80%;
  }

  .num1-container,
  .num2-container,
  .modal-container,
  .message-container{
    margin: 0 auto 0 auto;
    width: 80%;
  }

  .container{
    width: 100%;
  }

  // .hundle{
  //   display: none;
  // }

  .fab{
    margin-right: 0;
  }

  .main-title{
    width: 100%;
  }

  .num2-item{
    width: 100%;
  }

  .num3-container{
    display: block;
    margin: 30px auto;
  }

  .modal{
    width: 100%;
    margin-bottom: 30px;
  }

  .modal-container{
    margin: 0 auto;
  }
}



